@model StoresManagement.ViewModels.PurchaseFormViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="newPurchase" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Branch.Name)
                @Html.DropDownListFor(m => m.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branch", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.FullName)
                @Html.DropDownListFor(m => m.CustomerId, new SelectList(Model.Customers, "Id", "FullName"), "Select Customer", new { @class = "form-control" })
            </div>

            <!-- Recent Sales -->
            <div class="container py-3">
                <div class="d-flex flex-row justify-content-between pb-3">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                        <span class="oi oi-plus pr-2"></span>Add Sale
                    </button>
                </div>
                <div class="graphSec">
                    <h3 class="text-right pt-3">Purchase Total</h3>
                    <h1 class="text-right pb-3 totalNum" id="purchaseTotal"></h1>
                </div>
                <!-- New Sale Entry -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">NEW ITEM</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @*<form>
                                    *@
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Product.Name)
                                        @Html.DropDownListFor(m => m.Product, new SelectList(Model.Products, "Id", "Name"), "Select Product", new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        <label for="itemPrice"><small class="text-muted">Item Price:</small></label>
                                        <input type="number" class="form-control" id="itemPrice" aria-describedby="emailHelp"
                                               placeholder="Enter Price">
                                    </div>

                                    <div class="form-group">
                                        <label for="itemQuantity"><small class="text-muted">Item Quantity:</small></label>
                                        <input type="number" class="form-control" id="itemQuantity" aria-describedby="emailHelp"
                                               placeholder="Enter Quantity">
                                    </div>
                                    @*
                                </form>*@
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="addSale()">Add Item</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="newPurchase2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

        // Values from the form
        let branchID = document.getElementById('BranchId');
        let customerID = document.getElementById('CustomerId');
        let purchaseTotalLabel = document.getElementById('purchaseTotal');
        let newpurchaseId = document.getElementById('Product');
        let newQuantity = document.getElementById('itemQuantity');
        let newPrice = document.getElementById('itemPrice');

        let purchaseTotal = 0;
        let purchaseItems = [];

        const prices = new Set();

        function addSale() {

            prices.add(parseInt(newPrice.value));

            purchaseItems.push({ ProductId: parseInt(newpurchaseId.value), ProductQuantity: parseInt(newQuantity.value), ProductCurrentPrice: parseInt(newPrice.value) });

            let quantity = parseInt(newQuantity.value);

            for (let amount of prices) {
                purchaseTotal = purchaseTotal + (quantity * amount);
                purchaseTotalLabel.innerHTML = purchaseTotal;

            }

        };

        //
        //
        //

        var validator = $("#newPurchase").submit(function () {

            let Purchase = {
                BranchId: parseInt(branchID.value)
                , CustomerId: parseInt(customerID.value)
                , Total: purchaseTotal
                , Discount: 0
                , PurchaseItems: purchaseItems //  ProductCurrentPrice: 91 ///
            };

            console.log(Purchase);
            purchaseInString = JSON.stringify(Purchase);

            //debugger;

            $.ajax({
                type: "POST",
                url: '/Purchases/Create',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(Purchase),
                dataType: "json",
                success: function () {
                    alert('Success');
                    debugger;
                    validator.resetForm();
                    },
                error: function (xhr, status, error) {
                    alert('Error:');
                    debugger;
                    }
            });

            return false;
        });

                                                                                                            //
                                                                                                            //
                                                                                                            //
</script>

}