@model StoresManagement.ViewModels.PurchaseFormViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Purchase</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Branch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Identification)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Branch.BranchTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Identification)
                </td>
            </tr>
        </tbody>
    </table>
</div>

@if (Model.PurchaseItems.Any())
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PurchaseItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductTitle)
                        </td>
                        <td>
                            $ @Html.DisplayFor(modelItem => item.ProductCurrentPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductQuantity)
                        </td>
                        <td>
                            $ @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}

<div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    $ @Html.DisplayFor(modelItem => modelItem.Discount)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => modelItem.Total)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>