@model StoresManagement.ViewModels.PurchaseFormViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.Branch.Name)
                @Html.DropDownListFor(m => m.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branch", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="Customer.FullName" class="control-label"></label>
                <input id="CustomerFullName" asp-for="Customer.FullName" class="form-control" />
            </div>

            <input type="hidden" asp-for="Id" />
            <input id="CustomerId" type="hidden" asp-for="CustomerId" />

            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Discount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                $ @Html.DisplayFor(modelItem => modelItem.Discount)
                            </td>
                            <td>
                                $ @Html.DisplayFor(modelItem => modelItem.Total)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}