@model IEnumerable<StoresManagement.ViewModels.ProductFormViewModel>

@{
    ViewData["Title"] = "List Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of the products in this branch</h1>

@if (!Model.Any())
{
    <p>We don't have any products yet.</p>
}
else
{

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Branch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Width)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.BranchTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityInStock)
                    </td>
                    <td>
                        $  @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}